/* header 26   ----->  74 */
/* first container 76  ----->  175 */
/* second container 177  -----> 241 */

*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.pd-y{
  padding:85px 0;
}

/* start nav */

header nav{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 5rem;
  background-color: rgba(50, 50, 50, 0.375);
  align-items: center;
}

header nav ul{
  display: flex;
  gap: 20px;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}

nav div{
  text-align: center;
}

nav div h1{
  color: rgba(80, 177, 158, 0.94);
  font-size: 1.6rem; /* 1.6*16px */
  font-weight: bold;
}

nav div p{
  font-size: 0.4rem;
  letter-spacing: 2px;
  font-weight: bold;
}

nav i{
  color: rgba(80, 177, 158, 0.94);
  font-size: 1.5rem;
  cursor: pointer;
}

/* end nav */

/* start first container */
.container{
  margin-left: 17%;
  margin-right: 17%;
}

.first{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  margin-right: 0;
}

.container img{
  height: 100vh;
}

.gradient{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,69,60,0.3310574229691877) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.creative{
  color:rgba(80, 177, 158, 0.94);
  font-weight: bold;
  text-transform:uppercase;
}

.agency{
  font-weight: bold;
  font-size: 5rem;
}

.first .agency span{
  color: rgba(80, 177, 158, 0.94);
}

.hrFirst{
  width: 10%;
  height: 1px;
  background-color: rgba(80, 177, 158, 0.94);
  border: none;
  margin: 4vh 0;
}

.animate{
  display: flex;
  align-items: center;
  gap: 20px;
}

.animate .icon{
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: rgba(80, 177, 158, 0.94);
  border-radius: 50%;
  position: relative;
  top: 0;
}

.animate .icon i{
  font-size: 20px;
}

.animate .icon::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  background-color: transparent;
  border: 1vh solid rgba(80, 177, 158, 0.94);
  border-color: transparent rgba(80, 177, 158, 0.299) rgba(80, 177, 158, 0.299) transparent;
  transform: rotate(43deg);
}

.aboutUs .hrSecond{
  width: 75%;
  height: 1px;
  background-color: rgba(80, 177, 158, 0.318);
  border: none;
  margin: 4vh 0;
}

.aboutUs p{
  font-size: 1rem;
  color:rgba(80, 177, 158, 0.94) ;
}
/* end first container */

/* start second container */
.second{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content{
  width: 80%;
}

.second .services-content h3{
  font-size: 1.5rem;
  color:#409888 ;
  padding-bottom:30px ;
}

.second .services-content span{
  color: #409888;
  font-weight: bold;
}

.second .services-content p{
  font-size: 1rem;
  display: block;
  margin-bottom: 30px;
}

.second .services-content button{
  width: 100px;
  height: 50px;
  border: none;
  background-color: #409888;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.services-images {
  width: 70%;
  text-align: center;
}

.second .services-images div{
  padding: 3vh;
  width: 70%;
  height: 100%;
}

.second .services-images img{
  width: 50%;
  height: 50%;
}

.second .services-images .card-gradient{
  background: linear-gradient(0deg, rgba(34,193,195,0.41228991596638653) 0%, rgba(0,0,0,0) 57%);
  width: 70%;
  height: 80%;
}

.second .services-images div p{
  font-size: 0.7rem;
}

/* end second container */